.App {
  width: 80%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chat-container {
  height: 500px;
  margin-bottom: 9px;
  margin-top: 10px;
  background: rgb(52, 53, 65);
  border-radius: 20px;
  padding:20px;
  overflow: auto;
}

.container {
  display: flex;
  justify-content: center;
}
.leftcontainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.uploadeContainer > span {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.chat-container > * {
  color: white;
}